ws-heartbreak/.settings/org.eclipse.wst.common.project.facet.core.xml
ws-heartbreak/.settings/org.eclipse.wst.common.component
ws-heartbreak/.settings/.jsdtscope
ws-heartbreak/.project
ws-heartbreak/.classpath
ws-heartbreak/build/classes/endpoint/HeartBreakEndpoint.class
ws-heartbreak/build/classes/endpoint/HeartBreakEndpoint$1.class
ws-heartbreak/.settings/org.eclipse.wst.jsdt.ui.superType.name
ws-heartbreak/.settings/org.eclipse.wst.jsdt.ui.superType.container
ws-heartbreak/.settings/org.eclipse.jdt.core.prefs
